{% extends "base.html" %}
{% block body %}
<ul id="stories">
{% for story in stories %}
   <li class="story_entry">
   ({{ story.votes.count() }})
   {% if 'user' in session and story.votes.filter_by(user_id=session['user']).count() == 0 %}
   <a href="{{ url_for('vote', id=story.id, direction=1) }}">Up</a> | <a href="{{ url_for('vote', id=story.id, direction=-1) }}">Down</a>
   {% endif %}
   <a href="{{story.href}}" class="story_link">{{story.title}}</a> &nbsp; - &nbsp;
     <a href="userid-{{story.user}}" class="submitter_link">
       {{story.user.username}}
     </a>
   </li>
{% endfor %}
</ul>
{% endblock %}
